body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat";
    overflow: hidden;
}
  
#prompt-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #3d84b8;
    text-align: center;
    z-index: 1;
}
  
#prompt {
    font-size: 40px;
    color: #f0ebcc;
}
  
#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
  
#game {
  
}  