body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat";
    overflow: hidden;
}
  
#prompt-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #252c4a;
    text-align: center;
    z-index: 1;
}

#info-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
  
.text {
    font-size: 20px;
    font-family: "Montserrat";
    color: #f0ebcc;
}
  
#game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
  
#startbtn {
    font-size: 20px;
    padding: 10px;
    font-family: "Montserrat";
    margin: 0;
    background-color: #f0ebcc;;
}
