body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat";
    overflow: hidden;
}
  
#main-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#join-form {
    width: 400px;
}

#room-id {
    font-size: 20px;
    padding: 10px;
    font-family: "Montserrat";
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#room-join {
    font-size: 20px;
    padding: 10px;
    font-family: "Montserrat";
    margin: 0;
    width: 100%;
}
