body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat";
    overflow: hidden;
    background-color: #252c4a;
}

#main-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#join-form {
    width: 400px;
}

#room-id {
    font-size: 20px;
    padding: 10px;
    font-family: "Montserrat";
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #21486b;
    color: #1f7eeb;
    text-align: center;
}

#room-id::placeholder {
    color: #1f7eeb;
}

#room-id:focus {
    outline: none;
}

#room-join {
    font-size: 20px;
    padding: 10px;
    font-family: "Montserrat";
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: 2px solid #21486b;
    border-radius: 30px;
    color: #1f7eeb;
}

#room-join:hover {
    background-color: #21486b;
    color: #1f7eeb;
}
