<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stock Swarm</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static "frontend/host.css" %}">
  </head>
  <body>
    <div id="prompt-container">
      <div id="info-box">
        <h1 id="participants" class='text'>
          How will...?
        </h1>
        <h1 id="roomid" class='text'>
          How will...?
        </h1>
        <button id="startbtn" type="button">Start game</button>
      </div>
      <h1 id="prompt" class='text'>
        How will...?
      </h1>
    </div>
    <div id="game-container">
      <canvas id="game">

      </canvas>
    </div>
    {{ room_id|json_script:"room-id" }}
    <script src="{% static "frontend/host.js" %}"></script>
  </body>
</html>
